#focus-top-overlay,
#focus-bottom-overlay,
#focus-left-overlay,
#focus-right-overlay {
  position: fixed;
  background: black !important;
  z-index: 9999;
  pointer-events: none;
}

#focus-top-overlay {
  top: 0; 
  left: 0;
}

#focus-bottom-overlay {
  left: 0;
}

#focus-left-overlay {
  left: 0;
}

#focus-right-overlay {
  right: 0;
}
#search-form {
  position: relative;
  z-index: 10000 !important;  /* Ensure the search bar stays above overlays */
}
